a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:#ECF0F1}

.navigation {
  box-sizing: border-box;
  background-color: #A3E4D7;
  overflow: auto;
  padding: 18px 50px;
  position: relative;
  font-size: 20px;
  top: 0;
  width: 100%;
  z-index: 999;
}
 
body {
    background-color: white;
    
}
h1 {
    color: black;
    position: relative;
      left: 450px;
}
p {
    color: black;
    font-family: Helvetica;
} 

canvas{
  postiton: relative;
    top: 30px;
}
