a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:white}

.navigation {
  box-sizing: border-box;
  background-color: #A3E4D7;
  overflow: auto;
  padding: 18px 50px;
  position: relative;
  top: 0;
  width: 150%;
  z-index: 999
 
body {
    background-color: white;
    
}
h1 {
    color: black;
    text-align: center;
}
p {
    color: black;
    font-family: Helvetica;;
} 
